{% load static %}
<html>
    <head>
        <title>介護記録のやさしい日本語化</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/record.css' %}">
        
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="page-header">
                    <a href="/"><h1>やさしい介護記録</h1></a>
                    <ul id="header">
                    <!--           <a href="" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
                        <li><a href="/resident/search/">食事記録を書く</a></li>
                        <li><a href="/record/search/">読む</a></li>
                        <li>
                                {%if request.user.reading_support %}
                                    <a href="/account/mode/" id="easy">やさしいモード</a>
                                {%else%}
                                    <a href="/account/mode/" id="normal">通常モード</a>
                                {%endif%}
                        </li>
                        <li>{{request.user.full_name}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="main">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>