{% load static %}
<html>
    <head>
        <title>介護記録のやさしい日本語化</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/record.css' %}">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="page-header">
                    <a href="/">
                    {% if request.user.reading_support == True %}     
                        <h1>
                            やさしい<ruby>介護記録<rp>（</rp><rt>かいごきろく</rt><rp>）</rp></ruby>
                        </h1></a>
                    {% else %}
                        <h1>
                            やさしい介護記録
                        </h1></a>
                    {% endif %}



                    <ul id="header">
                    <!--           <a href="" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
                    {%if request.user.full_name%}
                        <li id="base_name">ようこそ、{{request.user.full_name}}さん:</li>
                    {% endif %}
                    {% if request.user.reading_support == True %}                    
                        <li><a href="/resident/search/">
                        {%  if request.session.selected_operation == "write" %}
                            <div style="background-color:#FFCCD4; border-radius: 5px;">
                        {% else %}
                            <div>
                        {% endif %}
                                🖊 <ruby> 書<rp>（</rp><rt>か</rt><rp>）</rp></ruby>く</a>
                            </div>
                        </li>
                        <li>
                        {%  if request.session.selected_operation == "read" %}
                            <div style="background-color:#FFCCD4; border-radius: 5px;">
                        {% else %}
                            <div>
                        {% endif %}
                            <a href="/record/search/">
                                📖  <ruby>読<rp>（</rp><rt>よ</rt><rp>）</rp>む                          </ruby>
                            </a></div>
                        </li>
                    {% else %}                    
                        <li>
                        {%  if request.session.selected_operation == "write" %}
                                <div style="background-color:#FFCCD4; border-radius: 5px;">
                        {% else %}
                                <div>
                        {% endif %}
                                    <a href="/resident/search/"><ruby>日誌を書く</a>🖊
                                </div>
                            </li>
                            <li>
                        {%  if request.session.selected_operation == "read" %}
                                <div style="background-color:#FFCCD4; border-radius: 5px;">
                        {% else %}
                                <div>
                        {% endif %}
                                    <a href="/record/search/">日誌を読む<ruby></ruby></a>📖
                                </div>
                            </li>
                    {% endif %}

                        <li id="mode_button">
                            <a href="/account/mode/">
                                <div class="base_easy_container">
                                    {%if request.user.reading_support %}
                                        <div class="base_easy on" >やさしい</div>
                                        <div class="base_easy off">ふつう</div>
                                    {%else%}
                                        <div class="base_easy off">やさしい</div>
                                        <div class="base_easy on" >ふつう</div>
                                    {%endif%}
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="main">
                {%if title%}
                    <h2>{{ title }}</h2>
                {%endif%}
                {%if explain%}
                    <h3>{{ explain }}</h3>
                {%endif%}                    
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type = "text/javascript" src = "{% static 'js/javascript.js' %}"></script>
    </body>
</html>