{% load static %}
<html>
    <head>
        <title>介護記録のやさしい日本語化</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/record.css' %}">
        
    </head>
    <body>
        <div class="page-header">
<!--           <a href="" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
            <h1><a href="/">やさしい介護記録</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main">
                        <div class="row">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>