{% extends 'record/base.html' %}
{% block content %}
<h2>食事記録の記入</h2>
    <form method="POST" class-"meal-record-form">{% csrf_token %}
        <table align="left" id="edit_table">
            {{ form.non_field_errors }}
            {{ formset.management_form | linebreaksbr}}
            <tr>
                {% for field in formset.form.visible_fields %}
                        <th>
                            {{ field.label_tag }}
                        </th>
                {% endfor %}
            </tr>
            {% for form in formset.forms %}
                {% for field in form.visible_fields %}
                    <td>
                        {{ field }}
                        {% if field.help_text %}
                            <span class="helptext">{{ field.help_text }}</span>
                        {% endif %}
                        {{ field.errors }}
                    </td>
                {% endfor %}
                {% for field in form.hidden_fields %}
                    {{field}}
                {% endfor %}
            <tr>
            {% endfor %}
        </table>
            <div class="button_area">
                    <button type="submit" class="btn">{{ submit_text }}</button>
            </div>
        </form>
    {% endblock %}