{% extends 'record/base.html' %}
{% block content %}
{% csrf_token %}
{% load static %}
        <table align="left" id="read_table">
            <tr>
                {% for label in labels %}
                <th>
                    {{label}}
                </th>
                {% endfor %}    
                {% for record in records %}
            </tr>
                    <td>
                        <ruby>
                            {{ record.resident.full_name }}
                            <rt>
                                {% if request.user.reading_support == True %}
                                    {{ record.resident.kana_full_name }}
                                {% endif %}
                            </rt>
                        </ruby>
                    </td>
                    <td>
                        {{ record.time }}
                    </td>
                    <td>
                        {{ record.form0  | default_if_none:"" }}
                    </td>

                    <td>
                        {{ record.form1  | default_if_none:"" }}
                    </td>
                    <td>
                        {{ record.form2  | default_if_none:"" }}
                    </td>
                    <td>
                        {{ record.form3  | default_if_none:"" }}
                    </td>
                {% if request.user.reading_support == False %}
                    <td>
                        {{ record.notice | default_if_none:""}}
                    </td>
                {% else %}
                    <td>
                        {{ record.ruby_translated_notice| default_if_none:"" | safe }}
                    </td>
                {% endif %}
                    <td>
                        {{ record.staff.full_name }}
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}