.page-header{
    margin-top:0;
    padding:30px 30px 10px 30px;
    font-size:10px;
    border-bottom:1px solid #AAAAAA;
    margin-bottom:50px;
    
}

a{
    font-size:20px;
    color:#333333;
}

.main{
    margin-top:50px;
}

body{
    color:#333333;
    background-color:#ffffff;

}
/*
input{
    padding:5px auto;
    margin:5px auto;
    border: none;
    outline:none;
}
select{
    border:none;
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
*/
table{
    width:100%;
}
